<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">
    <insert id="create" parameterType="cart" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_b.cart (
            productId, 
            number, 
            createTime, 
            userId
        )
        VALUES (
            #{productId}, 
            #{number}, 
            now(),
            #{userId}
        )
    </insert>
    <delete id="remove">
        DELETE FROM db_b.cart
        WHERE cart.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_b.cart
        SET
            productId = #{productId}, 
            number = #{number}, 
            createTime = #{createTime}, 
            updateTime = #{updateTime}, 
            userId = #{userId}
        WHERE cart.id = #{id}
    </update>
    <select id="queryAll" resultType="cart">
        SELECT *
        FROM db_b.cart
        ORDER BY id
    </select>
    <select id="queryById" resultType="cart">
        SELECT *
        FROM db_b.cart
        WHERE cart.id = #{id}
    </select>
    <select id="queryCartNumber" parameterType="int" resultType="java.lang.Integer">
        select sum(number)
        from db_b.cart
        where userId = #{userId}
        group by userId
    </select>
</mapper>