<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">
    <insert id="create" parameterType="cart" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_b.cart (productId, number, createTime, userId)
        VALUES (#{productId}, #{number}, now(), #{userId})
    </insert>
    <delete id="remove">
        DELETE
        FROM db_b.cart
        WHERE cart.productId = #{id}
    </delete>
    <update id="modify">
        UPDATE db_b.cart
        SET productId  = #{productId},
            number     = #{number},
            createTime = #{createTime},
            updateTime = #{updateTime},
            userId     = #{userId}
        WHERE cart.id = #{id}
    </update>
    <resultMap id="queryAll_map" type="product">
        <id property="id" column="id"/>
        <result property="coverPicture" column="coverPicture"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="originalPrice" column="originalPrice"/>
        <association property="cart" javaType="cart">
            <id property="id" column="cartId"/>
            <result property="number" column="number"/>
        </association>
    </resultMap>
    <select id="queryAll" parameterType="int" resultMap="queryAll_map">
        SELECT p.id, p.coverPicture, p.title, p.price, p.originalPrice, c.id as cartId, c.number
        FROM db_b.cart c
                 inner join db_b.product p on c.productId = p.id
                 inner join db_b.user u on c.userId = u.id
        where u.id = #{id}
    </select>
    <select id="queryById" resultType="cart">
        SELECT *
        FROM db_b.cart
        WHERE cart.id = #{id}
    </select>
    <select id="queryCartNumber" parameterType="int" resultType="java.lang.Integer">
        select sum(number)
        from db_b.cart
        where userId = #{userId}
        group by userId
    </select>
    <select id="queryCartId" parameterType="cart" resultType="java.lang.Integer">
        select id
        from db_b.cart
        where productId = #{productId}
          and userId = #{userId}
    </select>
    <update id="modifyNumber" parameterType="cart">
        update db_b.cart
        set number = number + #{number}
        where productId = #{productId}
          and userId = #{userId}
    </update>
    <select id="confirmOrder" parameterType="list" resultType="cart">
        select *
        from db_b.cart
        where id in
#         MyBatis 动态 SQL
        <foreach collection="list" item="id" open="(" separator="," close=")" index="i">
            #{id}
        </foreach>
    </select>
</mapper>