<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="category">
    <insert id="create" parameterType="category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_b.category (title, `desc`, parentId, status, createTime)
        VALUES (#{title}, #{desc}, #{parentId}, #{status}, now())
    </insert>
    <delete id="remove">
        DELETE
        FROM db_b.category
        WHERE category.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_b.category
        SET title      = #{title},
            `desc`     = #{desc},
            parentId   = #{parentId},
            status     = #{status},
            updateTime = now()
        WHERE category.id = #{id}
    </update>
    <select id="queryAll" resultType="category">
        SELECT *
        FROM db_b.category
        ORDER BY id
    </select>
    <select id="queryById" resultType="category">
        SELECT *
        FROM db_b.category
        WHERE category.id = #{id}
    </select>

    <select id="queryFistLevelCategory" resultType="category">
        select *
        from db_b.category
        where parentId is null
    </select>

    <resultMap id="queryCategoryTree_map" type="category">
        <result property="title" column="firstLevelTitle"/>
        <collection property="categories" ofType="category">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
        </collection>
    </resultMap>
    <select id="queryCategoryTree" resultMap="queryCategoryTree_map">
        select c1.title as firstLevelTitle, c2.id, c2.title
        from db_b.category c1
                 left outer join db_b.category c2 on c1.id = c2.parentId
        where c1.parentId is null
    </select>
</mapper>