<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
    <insert id="create" parameterType="product" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_b.product (title,
                                  `desc`,
                                  price,
                                  originalPrice,
                                  coverPicture,
                                  slidePictures,
                                  detailPictures,
                                  stock,
                                  status,
                                  createTime,
                                  updateTime,
                                  categoryId)
        VALUES (#{title},
                #{desc},
                #{price},
                #{originalPrice},
                #{coverPicture},
                #{slidePictures},
                #{detailPictures},
                #{stock},
                #{status},
                now(),
                NULL,
                #{categoryId})
    </insert>
    <delete id="remove">
        DELETE
        FROM db_b.product
        WHERE product.id = #{id}
    </delete>
    <update id="modify">
        UPDATE db_b.product
        SET title          = #{title},
            `desc`         = #{desc},
            price          = #{price},
            originalPrice  = #{originalPrice},
            coverPicture   = #{coverPicture},
            slidePictures  = #{slidePictures},
            detailPictures = #{detailPictures},
            stock          = #{stock},
            status         = #{status},
            updateTime     = now(),
            categoryId     = #{categoryId}
        WHERE product.id = #{id}
    </update>
    <select id="queryAll" resultType="product">
        SELECT *
        FROM db_b.product
        ORDER BY id
    </select>
    <select id="queryById" resultType="product">
        SELECT *
        FROM db_b.product
        WHERE product.id = #{id}
    </select>

    <resultMap id="map_queryIndexProducts" type="product">
        <id property="id" column="id"/>
        <result property="productId" column="productId"/>
        <result property="title" column="title"/>
        <result property="coverPicture" column="coverPicture"/>
        <result property="price" column="price"/>
        <result property="originalPrice" column="originalPrice"/>
        <result property="categoryId" column="categoryId"/>
        <association property="category" javaType="category">
            <result property="categoryId" column="supId"/>
        </association>
    </resultMap>
    <select id="queryIndexProducts" resultMap="map_queryIndexProducts">
        select c.categoryId as supId,
               p.id,
               p.productId,
               p.title,
               p.coverPicture,
               p.price,
               p.originalPrice,
               p.categoryId
        from db_b.product p
                 inner join db_b.category c on p.categoryId = c.id
        where p.status = 0
        limit 100 offset 0
    </select>
</mapper>